html {
    scroll-snap-type: y mandatory;
    

}

section {
    block-size: 100vh;
    scroll-snap-align: center;
    /*scroll-snap-stop: normal;
    
    display: grid;
    place-items: center;*/
}

#obiettivo-1 {
    background-image: linear-gradient(180deg,rgb(196, 33, 33) 30%,#ca716a 90%);
}